.footer-main-container {
  display: flex;
  flex-direction: column;
}
.footer-link {
  background-color: rgb(35, 34, 34);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}
.footer-navlink {
  display: flex;
  gap: 0 2vh;
}
.footer-navlink * {
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  padding: 0 1vh;
}
/* footer img part */
.footer-img {
  display: flex;
  justify-content: center;
  background-color: azure;
}
.img-footer-col {
  display: flex;
  gap: 0 2vw;
}
