.touroffer_header_img img {
  height: 80vh;
  width: 100%;
}
.touroffer_main_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5vh 10%;
}
.tourpackage_discription {
  display: flex;
  flex-direction: column;
}
.tourpackage_discription h1 {
  text-align: center;
}
.tourpackage_flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh 5vw;
  justify-content: flex-start;
}
.touroffer_items {
  background-color: rgb(249, 244, 244);
  padding: 0 0.5vw;
  text-decoration: none;
  color: black;
  &:hover {
    box-shadow: 10px 5px 5px 1px grey;
  }
}
.touroffer_items img {
  width: 20vw;
  height: 30vh;
}
.touroffer_items p {
  text-align: center;
}
